html {
    height: 100%;
    overflow-y: hidden;

}

#content {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #eef2ff;
    margin: 0;
}

#header {
    grid-column: 1 / span 2;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
}

#logo {
    display: flex;
    color: #a5b4fc;
    font-size: 2em;
}

#logo #indigo {
    color: #6366f1;
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

#maincontent {
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    background-color: #e0e7ff;
    transition: 0.5s;

}

.task {
    min-width: fit-content;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #c7d2fe;
    border-radius: 7px;
    color: #3730a3;
}

.task-left {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.task-right {
    font-size: 1.8em;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 15px;
}

.task-right .date {
    font-size: 13px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    background: #eef2ff;
    border-radius: 30px;
    border: 2px solid #6366f1;
}

.task-left>input:checked {
    accent-color: #6366f1;
}

.task-left>input:hover {
    accent-color: #4f46e5;
}


#maincontent #title {
    font-size: 2em;
    color: #6366f1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #818cf8;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 90px;
    transition: 0.5s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 0.9em;
    color: #eef2ff;
    display: block;
    transition: 0.1s;
}

.sidebar .section {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: #3730a3;
    display: block;
    transition: 0.3s;
}

.sidebar #addProjectBtn {
    margin-left: 12px;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    font-size: 0.6em;
    color: #eef2ff;
    display: block;
    transition: 0.1s;
    width: fit-content;
    background: none;
    border: none;
    border-radius: 15px;
}

.proj {
    display: flex;
    flex-direction: column;
}

.sidebar #addProjectBtn:hover {
    box-shadow: 1px 1px 8px #4f46e5;
}

.sidebar #addProjectBtn:active {
    box-shadow: 3px 3px 8px #4f46e5;
}

.sidebar a:hover {
    color: #a5b4fc;
}

.sidebar a:active {
    color: #6366f1;
}

.sidebar .section:hover {
    color: #3730a3;
}

.sidebar .closebtn {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 36px;
}

.subheader {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.subheader button {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #E0E7FF;
    color: #818cf8;
    font-size: 1em;
}

.subheader button:hover {
    color: #4338ca;
}

.subheader button:active {
    color: #2c2489;
    font-size: 1.1em;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #eef2ff;
    color: #4338ca;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.flexform {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #3730a3;
}

.checkboxes {
    margin-top: 1rem;
    color: #3730a3;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
}

/* Add styles to the form container */
.form-container {
    background-color: #E0E7FF;
    max-width: 800px;
    border-radius: 10px;
    display: flex;
    gap: 2rem;
}

/* Full-width input fields */
.form-container input[type=text] {
    border-radius: 10px;
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eef2ff;
}

.form-container input[type=checkbox] {
    padding: 15px;
}

.descContainer {
    display:flex;
    flex-direction: column;
    
}

.projName {
    font-size: 12px;
}

.form-container input[type=date] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    background-color: #EEF2FF;
    border:none;
    border-radius: 10px;
    color: rgb(116, 116, 116);
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #eef2ff;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #6366f1;
    color: #eef2ff;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: max-content;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.task-right :last-child {
    color: white;
}